#chat{
    position:relative;
    height:100%;
    background-color: #E5E5E5;
}

.chat-wrapper {
    padding: 20px 20px 0 20px;
    overflow-y:scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.chat-wrapper::-webkit-scrollbar {
    width:0!important;
}

.chat-wrapper > div {
    margin-bottom: 15px;
}

.order-status .status-time {
    border: 1px solid #C2C8CE;
    color: #666;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 14px;
}

.order-status .status-message {
    color: #666;
    font-size: 14px;
    margin-left: 15px;
}

.driver .driver-wrapper {
    width: calc(100% - 50px);
}
.me .message {
    width: calc(100% - 50px);
}

.message-item .time {
    width: 45px;
    margin-left:5px;
    text-align: right;
    color:#666666;
    font-size:12px;
}

.message-item {
    padding:10px;
    position:relative;
    width:calc(100% - 20px);
    border-radius: 4px;
}

.message-item.driver{
    background-color:#fff;
}
.message-item.me{
    background-color:#d4d6d8;
    margin-left:20px;
}
.message-item.driver::before{
    content:"";
    position:absolute;
    top:12px;
    left:-10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 10px 8px 0;
    border-color: transparent #fff transparent transparent;
}
.message-item.me::before{
    content:"";
    position:absolute;
    top:12px;
    right:-10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 10px;
    border-color: transparent transparent transparent #d4d6d8;
}

.driver-avatar{
    border-radius:50%;
    overflow:hidden;
    height:60px;
    width:60px;
}
.driver-avatar img{
    width:100%;
}

.driver-details {
    padding-left:10px;
}

.driver-info{
    margin-bottom:15px;
}

.driver-details .driver-name{
    color: #273C51;
    font-size:20px;
    line-height: 1;
    margin-bottom:10px;
}

.driver-details .driver-number i{
    color:#273C51;
    font-size:16px;
}

.driver-details .driver-number a{
    color:#273C51;
    font-size:14px;
    text-decoration:none;
    margin-left:10px;
}
.chat-wrapper{
    max-height: 400px;
    overflow-y: scroll;
    margin-bottom:90px;
}
.input-bar{
    height:60px;

    left:20px;
    right:20px;
    bottom:20px;
    position:absolute;
    background-color:#fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.input-bar #message_input{
    height:60px;
    padding:6px 8px;
    border:none;
    outline:none!important;
    box-shadow: none;
    width:85%;
    border-radius:4px;

}
.input-bar label{
    font-size: 24px;
    color:#273C51;
    margin:0 5px 0 10px;
}
.input-bar #send_message{
    font-size:24px;
    color:#273C51;
    margin:0 10px 0 8px;
    cursor:pointer;
}
.chat-image{
    width:100%;
}