/*chat*/

.chat {
    max-height: 500px;
    background-color: #ebe4db;
    border-radius: 10px;
    position: relative;
}

.chat-bg {
    position: absolute;
    top: 0;
    height: 100%;
    width: calc(100% - 6px);
    opacity: 0.5;
    right:0;
    background-image: url('../images/soft-kill.png');
    background-repeat: repeat;
}
.chat .messages-box {
    max-height: 400px;
    min-height: 400px;
    transition: all 0.3s linear;
    overflow-y: scroll;
}

.new_chat .messages-box {
    max-height: 350px;
    min-height: 350px;
    transition: all 0.3s linear;
    overflow-y: scroll;
    background-color: #f8f8f8;
}

.new_chat .messages-box .message,
.chat .messages-box .message {
    padding: 5px 10px;
    margin: 5px 15px;
    border-radius: 10px;
    background-color: #5dd5cd;
    color: #fff;
    position: relative;
    width: auto;
    transition: all 0.3s linear;
    box-shadow: 0 0 4px 1px rgba(0,0,0,0.2);
    float: left;
}

.new_chat .messages-box .message:first-child,
.chat .messages-box .message:first-child {
    margin: 10px 15px 5px 15px;
}

.create-massage {
    padding: 0;
    background-color: hsla(0,0%,100%,.6);
    min-height: 62px;
    -webkit-order: 3;
    order: 3;
    position: relative;
    -webkit-flex: none;
    flex: none;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    display: block;
}

.chat-footer-right {
    box-sizing: border-box;
    color: #4b4b4b;
    text-rendering: optimizeLegibility;
    min-height: 52px;
}

.chat input.message_input {
    width: 100%;
    outline: 0;
    border:0;
    font-size: 12px;
}

.new_chat input.message_input
{
    font-size: 10px;
    outline: 0;
    border: 0;
    width: 100%;
}

.buttons-chat {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    margin: 0;
    z-index: 99;
}

.chat-footer-center {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 21px;
    padding: 9px 12px 11px;
    margin: 5px 10px;
    box-sizing: border-box;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    min-height: 20px;
    min-width: 0;
    outline: none;
    width: inherit;
    will-change: width;
}
.send_chat_msg, .send_chat_img {
    background-color: transparent;
    color: #fff;
    border: 0;
    padding: 0 10px;
    outline: 0;
    cursor: pointer;
    color: rgb(38, 50, 56);
    opacity: 0.45;
    margin-top: 9px
}

.send_chat_msg:focus, .send_chat_img:focus {
    outline: 0;
}

.new_chat .messages-box .message:after,
.chat .messages-box .message:after {
    content: " ";
    position: absolute;
    left: -5px;
    top: 10px;
    border-top: 5px solid transparent;
    border-left: none;
    border-right: 5px solid #c6edf8;
    border-bottom: 5px solid transparent;
}

.new_chat .messages-box .message.not_sender:after,
.chat .messages-box .message.not_sender:after {
    content: " ";
    position: absolute;
    right: -5px;
    left: unset;
    top: 10px;
    border-top: 5px solid transparent;
    border-left: 5px solid #fff;
    border-right: none;
    border-bottom: 5px solid transparent;
}

.new_chat .messages-box .message.not_sender,
.chat .messages-box .message.not_sender {
    background-color: #fff;
    float: right;
}
.new_chat .messages-box .message.active,
.chat .messages-box .message.active {
    background-color: #F37660;
}
.new_chat .messages-box .message p,
.chat .messages-box .message p {
    margin: 5px 3px 5px 15px;
    white-space: pre-wrap;
    font-size: 14px;
}
.new_chat .messages-box .message .fa,
.chat .messages-box .message .fa {
    position: absolute;
    top: 5px;
    left: 7px;
    cursor: pointer;
    font-size: 12px;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
    transition: all 0.3s linear;
}
.new_chat .messages-box .message:hover .fa,
.chat .messages-box .message:hover .fa {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.new_chat form,
.chat form {
    border-top: 1px solid #ddd;
    padding: 10px;
    margin: -10px;
    margin-top: 20px;
    background-color: #fff;
}
.new_chat form input,
.chat form input {
    padding: 7px 10px;
    font-size: 15px;
    width: 87%;
    border: 1px solid #ddd;
    color: #9A9797;
    font-weight: 300;
}
.new_chat form input:focus,
.chat form input:focus {
    outline: inherit;
}
.new_chat form input.error,
.chat form input.error {
    border: 1px solid rgba(255, 0, 0, 0.5);
}
.new_chat form button,
.chat form button {
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: #4085F6;
    cursor: pointer;
}
.new_chat form button:focus,
.chat form button:focus {
    outline: inherit;
}

.online_status {
    text-decoration: none;
    font-size: 14px;
}

.online-status-icon {
    border: 2px solid white;
    border-radius: 50%;
    padding: 3px 0 5px 8px;
    width: 15px;
    height: 15px;
    margin-left: 5px;
}
.chat-title-wrapper{
    display: flex;
    align-items: center;
}
.online-status-icon.off {
    background-color: #aaa;
}
.online-status-icon.on {
    background-color: #42b72a;
}

/*chat modal*/

.chat_modal {
    color: #636363;
    width: 100%;
}

.chat_modal .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}
.chat_modal .modal-header {
    border-bottom: none;
    position: relative;
    background-color: transparent;
}
.chat_modal h4 {
    color: #636363;
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px !important;
    width: 100%;
}
.add_reply_modal .form-control, .chat_modal .btn {
    min-height: 40px;
    border-radius: 3px;
}
.chat_modal .close {
    position: absolute;
    top: -5px;
    left: -5px;
}
.chat_modal .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    display: flex;
    justify-content: center;
}
.chat_modal .modal-footer  .button {
    margin-left: 0;
}
.chat_modal .icon-box {
    color: #fff;
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #192e47;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat_modal .icon-box i {
    font-size: 58px;
    position: relative;
    font-style: normal;
}
.chat_modal.modal-dialog {
    margin-top: 80px;
}
.chat_modal .btn {
    color: #fff;
    border-radius: 4px;
    background: #82ce34;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
}
.chat_modal .btn:hover, .chat_modal .btn:focus {
    background: #6fb32b;
    outline: none;
}

.chat_modal .vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.chat_modal .vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.chat_modal .modal-content {
    width:inherit;
    max-width:inherit;
    height:inherit;
    margin: 0 auto;
    pointer-events: all;
    background-color: #eee;
}

.delete_message .vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.delete_message .vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
    transform: translate(0, 0)!important;
}
.delete_message .modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

.delete_message .close {
    position: absolute;
    top: 2%;
    left: 3%;
}

.delete_message .close:focus {
    outline: 0;
    border: 0;
}

.is_sent {
    color: #fff;
}



#comment_box {
    display: flex;
    border: 1px solid rgba(0,0,0,.08);
    background-color: #efefef;
    padding: 5px 10px;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    max-width: 100%;
    min-height: 62px;
    position: relative;
    z-index: 2;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    color: #4b4b4b;
    text-rendering: optimizeLegibility;
}
.new_chat #comment_box {
    min-height: 35px;
}
.chat-footer-left {
    will-change: width;
    padding: 5px 10px;
    box-sizing: border-box;
    min-height: 52px;
}

.new_chat .chat-footer-left,
.new_chat .chat-footer-center,
.new_chat .chat-footer-right {
    min-height: 20px;
    margin: 0;
    padding: 5px;
    line-height: 1.5;
}

.typing-status {
    font-size: 10px;
    position: absolute;
    bottom: 100%;
    right: 10%;
    z-index: 99;
}

.chat-left {
    font-size: 12px;

}

.chat_modal .modal-title {
    font-size: 20px;
    text-transform: capitalize;
    color: #000;
}

.chat_modal .modal-title span {
    font-weight: bold;
    color: red;
    text-decoration: underline;
}

.new_chat .avatar-image img,
.chat_modal .avatar-image img {
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 100%;
    background-color: #fff;
    padding: 3px;
}

.new_chat .avatar-image,
.chat_modal .avatar-image {
    float: left;
    padding: 5px 0 5px 10px;
    margin: 5px 0;
    position: relative;
    display: block;
}

.new_chat .avatar-image.avatar_not_sender,
.chat_modal .avatar-image.avatar_not_sender {
    float: right;
    padding: 5px 10px 5px 0;
}


/*image thumbnail chat*/
.compress {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.popup #overlay{
    position: fixed;
    top:0;
    right:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.8) none 50% / contain no-repeat;
    cursor: pointer;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
}
.popup #overlay.open {
    visibility: visible;
    opacity: 1;
    z-index:999;
}

.popup #overlay:after { /* X button icon */
    content: "\2715";
    position: absolute;
    color:#fff;
    top: 10px;
    left:20px;
    font-size: 2em;
}

.availability-status-chat {
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    padding: 3px 0 5px 8px;
}

.avatar-image .availability-status-chat{
    bottom: 5px;
    left: 10px;
}

.avatar_not_sender .availability-status-chat{
    bottom: 5px;
    left: 2px;
}
.availability-status-chat.on {
    background-color: #42b72a;
}

.availability-status-chat.off {
    background-color: #aaa;
}

.timestamp-message {
    font-size: 10px;
    text-align: center;
    margin: 20px 0 10px;
}

#show_comments svg {
    width: 10px;
    display: block;
    position: relative;
    float: left;
}


.edit-msg-chat, .delete-msg-chat {
    display: block;
    color: #ffffff;
    width: auto;
    text-align: center;
    font-size: 12px;
    padding: 0 10px 0 5px;
}

.message-options .dropdown-item:hover,
.message-options .dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

#more-options:focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0);
}
.message-options .dropdown-menu.show {
    display: inline-flex;
    background-color: rgba(0, 0, 0, .88);
    border-radius: 6px;
    color: #ffffff;
}

.message-options .dropdown-item.active,
.message-options .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

#more-options {
    background: none;
    color: #5485e6;
    font-size: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
    border: 0;
    line-height: 2;
}

#show_comments .message-options svg {
    width: 15px;
}

#more-options::after {
    border: none;
}

.dropdown.message-options {
    margin: 5px;
    float: left;
}

.dropdown.message-options.not_sender {
    float:right;
}


.chat .messages-box .message {
    padding: 5px 10px;
    margin: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #c6edf8;
    color: #000;
    position: relative;
    width: auto;
    transition: all 0.3s linear;
    float: left;
    border-radius: 8px;
    box-shadow: 0 1px 0.5px rgba(0,0,0,.13);
}

.new_chat .messages-box .message {
    padding: 5px;
    margin: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #c6edf8;
    color: #000;
    position: relative;
    width: auto;
    transition: all 0.3s linear;
    float: left;
    border-radius: 8px;
    box-shadow: 0 1px 0.5px rgba(0,0,0,.13);
}

.new_chat .messages-box .message.deleted,
.chat .messages-box .message.deleted {
    align-items: center;
    background-color: #aaa;
    font-size: 12px;
    margin: 10px 15px;
}

.new_chat .messages-box .message.deleted span,
.chat .messages-box .message.deleted span {
    margin-right: 5px;
    display: flex;
}

.new_chat .messages-box .message.deleted:after,
.chat .messages-box .message.deleted:after {
    border-right: 5px solid #aaa;
    top: 10px;
}

.new_chat .messages-box .message.not_sender.deleted:after,
.chat .messages-box .message.not_sender.deleted:after{
    border-left: 5px solid #aaa;
    border-right: unset;
    top: 10px;
}

.edit-msg-chat:visited, .delete-msg-chat:visited {
    color:#fff;
}


.message_status.is_seen {
    color: #5485e6;
}

.new_chat ::-webkit-scrollbar,
.chat ::-webkit-scrollbar {
    width: 6px!important;
    height: 6px!important;
}

.new_chat ::-webkit-scrollbar-thumb,
.chat ::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
}

.new_chat ::-webkit-scrollbar-track,
.chat ::-webkit-scrollbar-track {
    background: hsla(0,0%,100%,.08);
}

.chat-message-details-wrapper {
    float: left;
    margin: -10px 4px -5px 0;
    position: relative;
    z-index: 10;
    color: rgba(0,0,0,.45);
    font-size: 11px;
    height: 15px;
    line-height: 15px;
    white-space: nowrap;
    cursor: pointer;
}

.new_chat .chat-message-details-wrapper {
    z-index: 0;
}

.chat-message_time {
    display: inline-block;
    vertical-align: top;
}

.new_chat .chat-message_time {
    font-size: 10px;
}

.chat-message-icon {
    margin-right: 3px;
    display: inline-block;
}

.send_chat_msg {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}

.new_chat .compress {
    height: 40px!important;
}

.get_chat {
    min-width: 300px;
}
.chat-row-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.chat-row-avatar {
    width: 25%;
}

.chat-row-info {
    width: 45%;
}

.chat-row-notification {
    width: 30%;
    font-size:10px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-row-info div:first-child {
    font-weight: bold;
    text-transform: capitalize;
}
.chat-row-info div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
}

.chat-row-avatar img {
    width: 50px;
    border-radius: 100%;
}

.person .chat-row-info div:first-child {
    font-size: 12px;
}

.person .chat-row-info div {
    font-size: 10px;
}

/* sticky chat */
.new_chat {
    height: 40px;
    width: 300px;
    background-color: #fff;
    border: solid 1px #ccc;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    font-size: 12px;
    line-height: 16px;
    margin-left: 20px;
}

.new_chat.opened_chat {
    height: 450px;
}

.new_chat_wrapper {
    width: 100%;
    display: block;
    position: relative;
}

.new_chat_toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 3px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .1);
    z-index: 3;
}

.new_chat_header {
    /*display: flex;*/
    /*align-items: center;*/
    /*width: 100%;*/
    /*padding: 5px 10px;*/
}

.new_chat_other_person_avatar {
    margin-left: 10px;
    padding: 5px 10px;
}

.new_chat_other_person_avatar img {
    width: 25px;
    border-radius: 100%;
}
.new_chat_other_person_name {
    margin-left: 20px;
    font-weight: bold;
    width: 20%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: capitalize;
}

a.close_new_chat {
    position: absolute;
    top: 3%;
    left: 5%;
}

.new_chat_body {
    padding: 5px 10px;
    height: 200px;
    border-bottom: solid 1px #ccc;
    z-index: 3;
}

.options-chat-dropdown {
    position: absolute;
    top: 3%;
    left: 11%;
    cursor: pointer;
    color: #262626;
}

.options-chat-dropdown a.dropdown-item {
    font-size: 12px;
}

.options-chat-dropdown .dropdown-menu {
    padding: 3px 0;
}

.new_chat_footer {
    padding: 5px 10px;
}

.new_chat_header:focus {
    outline:0;
}

.new_chat_header:hover .new_chat_other_person_status {
    text-decoration: none;
}

.new_chat .online_status {
    font-size: 10px;
    width: 30%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
a.close_new_chat:focus {
    outline: 0;
}

.row-chats {
    display: flex;
    width: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: auto;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 999;
}

/*all messages page*/

.all_messages_page .container {
    position: relative;
    width: 100%;
    height: calc(100vh - 150px);
    background-color: #fff;
    padding: 0;
    margin: 0 auto;
    max-width: 100%;
}
.all_messages_page .container .left {
    float: right;
    width: 37.6%;
    height: 100%;
    border: 1px solid #e6e6e6;
    background-color: #fff;
}
.all_messages_page .container .left .top {
    position: relative;
    width: 100%;
    height: 96px;
    padding: 29px;
}
.all_messages_page .container .left .top:after {
    position: absolute;
    bottom: 0;
    right: 50%;
    display: block;
    width: 80%;
    height: 1px;
    content: '';
    background-color: #e6e6e6;
    -webkit-transform: translate(50%, 0);
    transform: translate(50%, 0);
}
.all_messages_page .container .left input {
    float: right;
    width: 188px;
    height: 42px;
    padding: 0 15px;
    border: 1px solid #e6e6e6;
    background-color: #eceff1;
    border-radius: 21px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
.all_messages_page .container .left input:focus {
    outline: none;
}

.all_messages_page .container .left .people {
    margin-right: -1px;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    width: calc(100% + 2px);
    list-style-type: none;
}
.all_messages_page .container .left .people .person {
    position: relative;
    width: 100%;
    padding: 12px 16px;
    cursor: pointer;
    background-color: #fff;
}
.all_messages_page .container .left .people .person:after {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 90%;
    height: 1px;
    content: '';
    background-color: #e6e6e6;
}
.all_messages_page .container .left .people .person img {
    float: right;
    width: 40px;
    height: 40px;
    margin-left: 12px;
    border-radius: 50%;
}
.all_messages_page .container .left .people .person .name {
    font-size: 14px;
    line-height: 22px;
    color: #1a1a1a;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
.all_messages_page .container .left .people .person .time {
    font-size: 14px;
    position: absolute;
    top: 16px;
    left: 10%;
    padding: 0 5px 5px 0;
    color: #999;
    background-color: #fff;
}
.all_messages_page .container .left .people .person .preview {
    font-size: 14px;
    display: inline-block;
    overflow: hidden !important;
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #999;
}
.all_messages_page .container .left .people .person.active, .all_messages_page .container .left .people .person:hover {
    margin-top: -1px;
    margin-right: -1px;
    padding-top: 13px;
    border: 0;
    background-color: #00b0ff;
    width: calc(100% + 2px);
    padding-right: calc(10% + 1px);
}
.all_messages_page .container .left .people .person.active span, .all_messages_page .container .left .people .person:hover span {
    color: #fff;
    background: transparent;
}
.all_messages_page .container .left .people .person.active:after, .all_messages_page .container .left .people .person:hover:after {
    display: none;
}
.all_messages_page .container .right {
    position: relative;
    float: right;
    width: 62.4%;
    height: 100%;
}
.all_messages_page .container .right .top {
    width: 100%;
    height: 47px;
    padding: 15px 29px;
    background-color: #eceff1;
}
.all_messages_page .container .right .top span {
    font-size: 15px;
    color: #999;
}
.all_messages_page .container .right .top span .name {
    color: #1a1a1a;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
.all_messages_page .container .right .chat {
    position: relative;
    overflow: hidden;
    padding: 0;
    height: calc(100% - 48px);
    justify-content: flex-end;
    flex-direction: column;
    background-color: #ffffff;
    max-height: 100vh;
    border-radius: 0;
}

.all_messages_page .container .right .chat #more-options {
    line-height: 3;
}
.all_messages_page .container .right .chat .avatar-image img {
    max-width: 150px;
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 100%;
    background-color: #fff;
    position: relative;
    padding: 3px;
}

.all_messages_page .container .right .chat .avatar-image .availability-status-chat {
    bottom: 0;
    left: 5px;
}

.all_messages_page .container .right .chat .avatar-image {
    position: relative;
    width: auto;
    display: inline-flex;
    float: left;
}

.all_messages_page .container .right .chat .avatar-image.avatar_not_sender {
    float: right;
}

.all_messages_page .container .right .chat .messages-row{
    position: relative;
    width: auto;
}

.all_messages_page .container .right .chat .messages-box .message{
    max-width: 70%;
}
.all_messages_page .container .right .chat .messages-box{
    max-height: calc(100vh - 260px);
    min-height: calc(100vh - 260px);
    transition: all 0.3s linear;
    overflow-y: scroll;
}

.all_messages_page .container .right .chat.active-chat {
    display: block;
    display: flex;
}
.all_messages_page .container .right .chat.active-chat .bubble {
    transition-timing-function: cubic-bezier(0.4, -0.04, 1, 1);
}
.all_messages_page .container .right .chat.active-chat .bubble:nth-of-type(1) {
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
}
.all_messages_page .container .right .chat.active-chat .bubble:nth-of-type(2) {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.all_messages_page .container .right .chat.active-chat .bubble:nth-of-type(3) {
    -webkit-animation-duration: 0.45s;
    animation-duration: 0.45s;
}
.all_messages_page .container .right .chat.active-chat .bubble:nth-of-type(4) {
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}
.all_messages_page .container .right .chat.active-chat .bubble:nth-of-type(5) {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
}
.all_messages_page .container .right .chat.active-chat .bubble:nth-of-type(6) {
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
}
.all_messages_page .container .right .chat.active-chat .bubble:nth-of-type(7) {
    -webkit-animation-duration: 1.05s;
    animation-duration: 1.05s;
}
.all_messages_page .container .right .chat.active-chat .bubble:nth-of-type(8) {
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
}
.all_messages_page .container .right .chat.active-chat .bubble:nth-of-type(9) {
    -webkit-animation-duration: 1.35s;
    animation-duration: 1.35s;
}
.all_messages_page .container .right .chat.active-chat .bubble:nth-of-type(10) {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
.all_messages_page .container .right .write {
    position: absolute;
    bottom: 29px;
    right: 30px;
    height: 42px;
    padding-right: 8px;
    border: 1px solid #e6e6e6;
    background-color: #eceff1;
    width: calc(100% - 58px);
    border-radius: 5px;
}
.all_messages_page .container .right .write input {
    font-size: 16px;
    float: right;
    width: 347px;
    height: 40px;
    padding: 0 10px;
    color: #1a1a1a;
    border: 0;
    outline: none;
    background-color: #eceff1;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
.all_messages_page .container .right .write .write-link.attach:before {
    display: inline-block;
    float: right;
    width: 20px;
    height: 42px;
    content: '';
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/attachment.png");
    background-repeat: no-repeat;
    background-position: center;
}
.all_messages_page .container .right .write .write-link.smiley:before {
    display: inline-block;
    float: right;
    width: 20px;
    height: 42px;
    content: '';
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/smiley.png");
    background-repeat: no-repeat;
    background-position: center;
}
.all_messages_page .container .right .write .write-link.send:before {
    display: inline-block;
    float: right;
    width: 20px;
    height: 42px;
    margin-right: 11px;
    content: '';
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/send.png");
    background-repeat: no-repeat;
    background-position: center;
}
.all_messages_page .container .right .bubble {
    font-size: 16px;
    position: relative;
    display: inline-block;
    clear: both;
    margin-bottom: 8px;
    padding: 13px 14px;
    vertical-align: top;
    border-radius: 5px;
}
.all_messages_page .container .right .bubble:before {
    position: absolute;
    top: 19px;
    display: block;
    width: 8px;
    height: 6px;
    content: '\00a0';
    -webkit-transform: rotate(29deg) skew(-35deg);
    transform: rotate(29deg) skew(-35deg);
}
.all_messages_page .container .right .bubble.you {
    float: right;
    color: #fff;
    background-color: #00b0ff;
    align-self: flex-start;
    -webkit-animation-name: slideFromLeft;
    animation-name: slideFromLeft;
}
.all_messages_page .container .right .bubble.you:before {
    right: -3px;
    background-color: #00b0ff;
}
.all_messages_page .container .right .bubble.me {
    float: left;
    color: #1a1a1a;
    background-color: #eceff1;
    align-self: flex-end;
    -webkit-animation-name: slideFromRight;
    animation-name: slideFromRight;
}
.all_messages_page .container .right .bubble.me:before {
    left: -3px;
    background-color: #eceff1;
}
.all_messages_page .container .right .conversation-start {
    position: relative;
    width: 100%;
    margin-bottom: 27px;
    text-align: center;
}
.all_messages_page .container .right .conversation-start span {
    font-size: 14px;
    display: inline-block;
    color: #999;
}
.all_messages_page .container .right .conversation-start span:before, .all_messages_page .container .right .conversation-start span:after {
    position: absolute;
    top: 10px;
    display: inline-block;
    width: 30%;
    height: 1px;
    content: '';
    background-color: #e6e6e6;
}
.all_messages_page .container .right .conversation-start span:before {
    right: 0;
}
.all_messages_page .container .right .conversation-start span:after {
    left: 0;
}

@keyframes slideFromLeft {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}
@-webkit-keyframes slideFromLeft {
    0% {
        margin-right: -200px;
        opacity: 0;
    }
    100% {
        margin-right: 0;
        opacity: 1;
    }
}
@keyframes slideFromRight {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}
@-webkit-keyframes slideFromRight {
    0% {
        margin-left: -200px;
        opacity: 0;
    }
    100% {
        margin-left: 0;
        opacity: 1;
    }
}


/*end all messages page*/

